*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: rgb(135, 206, 250);
    --secondary-color: rgb(199, 232, 189);
    --success-color: rgb(40, 167, 69);
    --text-color-dark: rgb(11, 66, 121);
    --text-color-light: rgb(46, 150, 116);
    --font-family-default: Arial, Helvetica, sans-serif;
}

.title {
    font-family: var(--font-family-default);
    font-size: 35px;
    color: var(--text-color-dark);
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

.recipe-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

@media (max-width: 550px) {
    .recipe-list {
        flex-direction: column;
    }
}

.recipe-list li {
    flex: auto;
}

.recipe-list a {
    text-decoration: none;
}

.recipe-list div {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-list strong {
    font-family: var(--font-family-default);
    font-size: 25px;
    color: var(--text-color-light);
}

.recipe-list img {
    width: 100%;
}